

@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif;
}


body {
    background-color: #fff;
}

.logo__container {
    position: absolute;
    width: auto;
    height: 50px;
    z-index: 100;
    margin: 15px
}

.icon {
  width: 4em;
  height: 4em;
  stroke: #fff;
  fill: #fff;
}

.icon-mini {
  width: 1.9em;
  height: 1.9em;
  stroke: #fff;
  fill: #fff;
}

.logo__container h5 {
    font-family: 'lobster', cursive;
    font-size: 1.5em;
    margin-top: 4px;
    margin-left: 4px;
    color: #fff;
    float: right;
    text-shadow: 3px 1px 2px rgba(0,0,0, .15)
}


.header h1 {
    font-family: 'lobster', cursive;
    font-size: 2.6em;
    margin-top: -5px;
    text-shadow: 3px 1px 2px rgba(0,0,0, .15)
}


.about__container h1 {
    text-align: center;
    font-size: 1.4em;
        font-family: 'lobster', cursive;
    color: #383838;
    margin: 40px auto 10px auto;
}

.about__container h3 {
    margin: 0 auto;
    font-size: .7em;
    color: #777;
    font-weight: 400;
        text-align: center;
    width: 80%;
    max-width: 300px;
    margin-bottom: -10px;

}

article button {
     margin-top: 1em;
     padding: 1.2em 1em;
     background-color: transparent;
     border: none;
    border-radius: 4px;
     color: #ffffff;
     font-size: .9em;
     box-shadow: 0px 0px 46px 4px rgba(255,255,255, .6); 
     cursor: pointer;
     transition: .35s;
 }
 
 article button:hover {
     transform: scale(1.05);
 }

i {
    margin-left: 6px;
    transform: scale(1.5);
}


.header {
  position: relatives;
  text-align: center;
  height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(125deg, rgba(0,0,0, .15) 0%, rgba( 50,55,190, 1) 100%);
  animation: rainbow 15s infinite;
  width: 100%;
}




@keyframes rainbow {
    0%, 100% { background-color: #38f2fb; }
    16.66% { background-color: #d025D8; }
    33.33% { background-color: #09faa0; }
    50% { background-color: #0f10ff; }
    66.66% { background-color: #af0ff5; }
    83.33% { background-color: #fa270D; }
}



h1,h6 {
  color: #ffffff;
  line-height: 1.6em;
}

h1 {
    font-size: 1.4em;
    max-width: 75%;
    margin: .5em auto 0 auto;
}

h6 {
    font-size: .9em;
    font-weight: 400;
    max-width: 450px;
    margin: .5em auto 1em auto;
    
}

article {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.colorChoice__container {
    padding: 0em 0;
    height: auto;
    background-color: #fff;
    display: block;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
}

.color-group {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: .2em .2em .2em .2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-width: 75%;
    margin: 4em auto;
    border-radius: 6px;
}

button:focus {
    outline:0;
    border: none!important;
}

ul {
    font-size: 0px;
}

.btn {
    width: 100%;
    border: 0 !important;
    margin: 0;
    padding: 0;
}


.color {
    list-style-type: none;
    height: 35px;
    cursor: pointer;
    transition: .35s;
    width: 100%;
}

.color:hover {
    transform: scale(1.1);
}

.copied {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
    z-index: 100;
}
.copied:after {
  content: 'Copied';
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}





@media (max-width: 800px) and (orientation: landscape)  {
    body {
      font-size:  14px !important;  
    }  

}

@media (min-width: 600px) {
    
    body {
        font-size: 20px;
}
    
    h1 {
        font-size: 1.2em;
    }
    
    h6 {
        font-size: .8em;
    }
    
    
    
    .colorChoice__container {
        display: flex;
        margin-top: 30px;
        padding: 0em 5%;
    }
    
    .color-group {
        margin: 2em auto;
        width: 40%;
    }
    
}

@media (min-width: 1200px) {
    
    svg {
        width: 12%;
        height: 12%
    }
    
    .color-group {
        width: 20%;
    }
    
    h1 {
        font-size: 2.6em;
    }
    
    h6 {
    font-size: .9em;
    }
    
    .about__container h1 {
        font-size: 1.8em;
        margin: 55px auto 10px auto;
    }
    
    .about__container h3 {
        font-size: .8em;
        max-width: 500px;
        line-height: 25px;
    }
}